.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
}

@media (max-width: 56.25em) {
  /* For Tab-port  58.125em= 930px/16px */
  .checkout-page {
    width: 100%;
  }
}

@media (max-width: 37.5em) {
  /* For Tab-port  37.5em= 600px/16px */
  .checkout-page {
    .checkout-header {
      .header-block {
        width: fit-content;
        font-size: 14px;

        &:last-child {
          width: fit-content;
        }
      }
    }

    .total {
      font-size: 24px;
    }
  }
}
