body {
  font-family: "Open Sans", sans-serif;
  padding: 20px 60px;
}
a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

@media (max-width: 37.5em) {
  /* For Tab-port  37.5em= 600px/16px */
  body {
    padding: 0 10px;
  }
}
